/* styles for boxcards container */
.boxcards{
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  height: 30rem;
  box-sizing: border-box;
}

/* styles for memory-board container */
#memory-board{
  width :90%;
  max-width: 800px;
  height: 28rem;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative; 
  align-items: center; 
  justify-content: center;
  border-radius: 0.2em;
  transform-style: preserve-3d;
  perspective: 500px;
  margin-bottom: 20px;
}

/* flip */
.move-count-display{
  position: relative;
  width: 20%;
  height: 4rem;
  margin: 0.1em;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0.2em;
  font-size: 1.5em;
  display: block;
}

/* styles for memory-card */
.memory-card{
  background-color: blue;
  width: 12rem;
  height: 7em;
  border: 1px solid #f1f1f133;
  perspective: 1000px;
  position: relative;
  margin: 1px;
  border-radius: 0.2em;
  cursor: pointer;
}
/* styles for card-inner */
.card-inner{
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center center;
  border-radius: 0.2em;
}

.memory-card.flip .card-inner {
  transform:rotateY(0deg)
} 

.card-cover, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}

.card-cover{
  background-color: #fff;
  font-size: 5rem;
}
/* style for card-back */
.card-back{
  background-color: white;
  color: green;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  transform: rotateY(0deg);
  border-radius: 0.2em;
 }

 .memory-card.flip .card-cover {
  display: block;
}

.memory-card.flip .card-back {
  display: none;
}

/* reset-button styles */
#start-button, #reset-button{
  background-color: yellow;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 20%;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
}

/* hover and visited styles for reset-button */
#reset-button:hover {
  background-color: orange;
  color: black;
  font-size: 1.4 rem;
  text-decoration: none;
  transition: 200ms;
}

#reset-button:visited{
  background-color: blue;
  color: black;
  font-size: 1.4 rem;
  text-decoration: none;
}

/* responsive styles */
@media (max-width: 600px) {
  #start-button{
    width: 10%;
    padding: 0.1rem;
  }

  .win-message{
    font-size: 0.5rem;
    width: 100%;
    position: none;
    z-index: 1;
  }

  .memory-card {
    width: 45%; 
    height: 6rem;
    font-size: 1rem;
  }

  #memory-board {
    padding: 2%; 
  }

#start-button,
  #reset-button {
    width: 70%; 
    font-size: 1rem; 
  }
} 

@media (min-width: 279px){
  .card-back{ 
    font-size: 3em;
  }
  .card-cover{
    font-size: 3em;
  }
  .boxcards{
    height: 28rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card-back {
    font-size: 2.5em;
  }

  .card-cover {
    font-size: 2.5em;
  }

  .boxcards {
    height: 35rem;
  }

  .memory-card {
    width: 40%;
    height: 8rem;
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  #memory-board {
    width: 80%;
  }

  #start-button,
  #reset-button {
    width: 60%;
    font-size: 1.2rem;
  }

/* Media Query for Google Nest Hub Max */
@media only screen and (min-width: 960px) {
  .card-back {
    font-size: 2.5em;
  }

  .card-cover {
    font-size: 2.5em;
  }

  .boxcards {
    height: 20rem;
  }

  .memory-card {
    width: 20%;
    height: 5rem;
    font-size: 1.2rem;
  }

  #memory-board {
    width: 90%;
  }

  #start-button,
  #reset-button {
    width: 70%;
    font-size: 1.2rem;
  }
}

}
