@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lilita+One&family=Lobster&family=Maven+Pro:wght@400;600&family=Open+Sans:ital,wght@1,300&family=Orbitron&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
  .question {
    font-size: 1rem;
  }
  .option {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
  .question {
    font-size: 0.5rem;
  }
  .option {
    font-size: 1rem;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: yellow;
  border-bottom: 1px solid white;
  text-align: center;
}

header h1 {
  text-align: center;
  padding: 20px;
  font-size: 2.5rem;
}

main {
  background-color: black;
  color: yellow;
  font-size: 1.5rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
}

.shadowgradient {
  width: 60%;
  height: 520px;
  margin: 100px auto;
  background: linear-gradient(0deg, #000, #333);
  position: relative;
  text-align: center;
}

.shadowgradient::before,
.shadowgradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  /* z-index: -1; */
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  background-size: 500%;
  animation: rainbowBox 30s linear infinite;
}

.shadowgradient:after {
  filter: blur(25px);
}

.box {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  height: 520px;
  padding: 20px;
}

.box div {
  margin: 30px;
}

@keyframes rainbowBox {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 500% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#questionsContainer {
  font-size: 1.5rem;
  font-weight: bolder;
}

.option {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.option:hover {
  background-color: yellow;
  color: black;
  font-size: 1.4 rem;
  text-decoration: none;
  transition: 200ms;
}

#startButton {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#startButton a:hover {
  background-color: orange;
  color: black;
  font-size: 1.4 rem;
  text-decoration: none;
  transition: 200ms;
}

footer {
  background-color: yellow;
  color: black;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8vh;
  margin-bottom: 0;
  position: relative;
}

ul li {
  display: inline-block;
  text-decoration: none;
}

a {
  margin-bottom: 40px;
  color: black;
  margin-right: 10px;
}

ul li a i {
  color: black;
  font-size: 20px;}

.fa-github {
  font-size: 2rem;
  color: #000;
}
.fa-github:hover {
  color: #4078c0;
}
