@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lilita+One&family=Lobster&family=Maven+Pro:wght@400;600&family=Open+Sans:ital,wght@1,300&family=Orbitron&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-color: #000;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Header Styles */
header {
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: black;
  color: yellow;
  text-align: center;
}

header h1 {
  text-align: center;
  padding: 1.25rem;
  font-size: 2.5rem;
}

/* Main Styles */
main {
  background-color: black;
  color: yellow;
  font-size: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Shadow Gradient Styles */
.shadowgradient {
  width: 60%;
  height: 25rem;
  margin: 0 auto;
  flex: 1;
  background: linear-gradient(0deg, #000, #333);
  display: flex;
  position: relative;
  text-align: center;
}

.shadowgradient,
.box {
  width: 58%;
  flex: 1;
  background: linear-gradient(0deg, #000, #333);
  position: relative;
  text-align: center;
}

.shadowgradient::before,
.shadowgradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  top: -0.133em;
  left: -0.133em;
  background-size: 500%;
  animation: rainbowBox 30s linear infinite;
}

.shadowgradient:after {
  filter: blur(25px);
}

/* Box Styles */
.box {
  width: 60%;
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  height: 33rem;
  box-sizing: border-box;
  
}

.box div {
  margin: 1rem;
}

/* CSS Animation for the Shadow Gradient */
@keyframes rainbowBox {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 500% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#questionsContainer {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for Options (Answers) */
.option {
  padding: 0.5rem;
  border: 3px solid white;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin: 1rem;
  width: 70%;
  text-align: center;
}

.option:hover {
  background-color: yellow;
  color: black;
  font-size: 1.4 rem;
  text-decoration: none;
  transition: 0.2s;
}

/* Start Button Styles */
#startButton {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#startButton a:hover {
  background-color: orange;
  color: black;
  font-size: 1.4 rem;
  text-decoration: none;
  transition: 200ms;
}

/* Footer Styles */
footer {
  background-color: yellow;
  color: black;
  align-items: center;
  font-size: 0.875em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8vh;
  bottom: 0;
  position: fixed;
}

ul li {
  display: inline-block;
  text-decoration: none;
}

a {
  margin-bottom: 2.5rem;
  color: black;
  margin-right: 0.625rem;
}

ul li a i {
  color: black;
  font-size: 1.25rem;
}

.fa-github {
  font-size: 2rem;
  color: #000;
}
.fa-github:hover {
  color: #4078c0;
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
  .question {
    font-size: 1rem;
  }
  .option {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
  .question {
    font-size: 0.5rem;
  }
  .option {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  header {
    height: 6rem;
  }
  header h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .question {
    font-size: 1rem;
  }
  .option {
    font-size: 1rem;
  }
  footer {
    height: 8vh;
  }
}
